.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5%;
  border-bottom: 1px solid #cbd5e1;
  background-color: #ffffff;
  @media (min-width: 992px) {
    .orders-title {
      display: block;
      font-weight: bold;
      color: #58575c;
    }
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #475569;
  font-weight: bold;
  margin: 0;
  @media screen and (max-width: 992px) {
    font-size: 30px;
  }
}

.cart-summary {
  display: flex;
  align-items: center;
}

.orders-title {
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 15px;
  color: #475569;
  font-size: 16px;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.cart-icon-container {
  position: relative; /* This allows the badge to float relative to the icon */
  display: flex;
  align-items: center;
  cursor: pointer;
  border-width: 0px;
  background-color: transparent;
  @media screen and (max-width: 992px) {
    font-size: 38px;
  }
}

#cartIcon {
  color: #5b5b5b;
  font-size: 28px;
  font-weight: bold;
  @media screen and (max-width: 992px) {
    font-size: 30px;
  }
}

.cartListCounter {
  background-color: #ef4444; /* Bright red like the demo image */
  color: #ffffff;
  margin: 15px;
  font-size: 15px;
  font-weight: bold;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
}

.link-item {
  text-decoration: none;
  color: inherit;
}
